#draft-canvas {
    display: none;
}

body { 
    margin:0; 
    padding:0;
}

#map { 
    position: absolute; 
    width: 100%;
    height: 100%;
    
    margin:0; 
    padding:0;
}

.floating {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 1);
    /*border-radius: 5px;*/
}

.shadow {
    -webkit-svg-shadow: 0 1px 3px 0 black;
}

#sidebar {
    position:absolute; 
    top: 20px;
    bottom: 20px;
    left: 20px;
    width: 350px;
}

#wordcloud {
    height: 300px;
    overflow: hidden;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

#messages {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    line-height: 1;
}

#progress {
    position: absolute; 
    bottom: 20px;
    left: 390px;
    right: 20px;
    height: 30px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: left;
    white-space: nowrap;

    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    color: white;

    font-size: 30px;
    line-height: 30px;
    vertical-align: middle;
}

#play-pause {
    display: inline;
    position: relative;
    float: left;
    width: 30px;
    height: 100%;
}

#play-icon {
    height: 30px;
    cursor: pointer;
}

#pause-icon {
    height: 30px;
    cursor: pointer;
    display: none;
}

#time {
    position: relative;
    float: right;
    text-align: center;
    width: 130px;
    height: 100%;
}

#scrubber {
    position: relative;
    padding: 0;
    margin-left: 50px;
    margin-right: 150px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.0);
    border-width: 0px;
}

#scrubber #indicator {
    position: absolute;
    width: 10px;
    height: 25px;
    padding: 2px 0px 3px 0px;
    cursor: pointer;
}

#scrubber #indicator div {
    width: 10px;
    height: 25px;
    background-color: white;
    border-radius: 2.5px;
}

#scrubber #rail {
    position: absolute;
    width: 100%;
    padding-top: 14px;
}

#scrubber #rail div {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2.5px;
}
